<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8b67fd">  <td>21/01/20 01:36:17</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Setup.installApp()[pri:0, instance:hospital_test.hospital_test.Setup@1d29cf23]">&gt;&gt;installApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@662736689</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>21/01/20 01:36:36</td>   <td>18885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Setup.performSearch()[pri:0, instance:hospital_test.hospital_test.Setup@1d29cf23]">performSearch</td> 
  <td>main@662736689</td>   <td></td> </tr>
</table>
